// Default options
$defaultDuration: .3s;
$primaryColour: #ececec;
$secondaryColour: #666666;
$shadowColour: #00000099;
$deleteLogo: url(./imgs/delete.png);

@mixin flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin hideTapHighlightColor() {
    //Prevent highlight colour when element is tapped
    -webkit-tap-highlight-color: #00000000;
  }
  
  @mixin hardwareAccel() {
    //Improve performance on mobile/tablet devices
    transform: translateZ(0);
  }
  
  @mixin improveAntiAlias() {
    //Improve aliasing on mobile/tablet devices
    box-shadow: 0 0 1px #00000000;
  }

.blog-component{
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.posts-wrapper{
  height: auto;
  width: 95vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.posts-placeholder{
  padding: 10px;
  text-align: center;
}
.post{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #c0bebe59;
  box-sizing: border-box;
  border-radius: 5px;
  @include flex-row();
}
.post-content{
  @include flex-column();
  font-size: .8rem;
}
.add-block{
  display: flex;
  flex-direction: row;
}
.input-block{
    width: 100%;
    @include flex-row();
    justify-content: center;
    .input{
        width: 80%;
        font-size: 2rem;
        background-color:#c0bebe;
    }
    .add-btn{
        width: 15%;
    }
}
.action-btn--delete {
    margin: .4em;
    padding: 1em;
    max-height: 40px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition-duration: $defaultDuration;
    transition-property: transform;
    background-image: $deleteLogo;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  
    @include hideTapHighlightColor();
    @include hardwareAccel();
    @include improveAntiAlias();
  
    &:hover {
      transform: scale(1.1);
    }
  }
  

