.blog__form{
	width: 95vw;
    max-width: 600px;
	border-radius:2px;
	padding:20px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form__list{
	list-style:none;
	padding:0;
	margin:0;
	li{
		display: block;
		padding: 9px;
		border:1px solid #c0bebe;
		margin-bottom: 30px;
		border-radius: 3px;
		&:last-child{
			border:none;
			margin-bottom: 0px;
			text-align: center;
		}
		label{
			display: block;
			float: left;
			margin-top: -19px;
			background: #FFFFFF;
			height: 14px;
			padding: 2px 5px 2px 5px;
			color: #838282;
			font-size: 14px;
			overflow: hidden;
			font-family: Arial, Helvetica, sans-serif;
		}
		span{
			background: #F3F3F3;
			display: block;
			padding: 3px;
			margin: 0 -9px -9px -9px;
			text-align: center;
			color: #C0C0C0;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
		}
		textarea{
			resize:none;
		}
	}
}
.blog__form__input{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.action-btn{
	background: #11324D;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #0d172b;
	border-radius: 3px;
	color: #D2E2FF;
	cursor: pointer;
	margin: 10px;
}
.action-btn:hover{
	background: #2669a0;
	color:#fff;
}