.paginationWrapper {
    display: flex;
    justify-content: center;
  }
  .separator {
    width: 1rem;
    margin: 0 0.25rem;
  }
  .pageItem {
    background: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
    margin: 0 0.25rem;
    border-radius: 50%;
    font-weight: 600;
    color:#383838;
    cursor: pointer;
  &:hover {
      text-decoration: underline;
    }
  &:focus {
      outline: 0;
    }
  }
  .active {
    background-color: #11324D;;
    color: #f2f7f7;
  }
  .sides {
    box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px;
  &:hover {
      text-decoration: none;
      box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.12) 0px 6px 16px;
    }
  }